
@{
    ViewBag.Title = "CustomersList";
    Layout = "~/Views/Shared/_SuperAdminNavigationBar.cshtml";
}
<style>
    div#datatable2_filter label {
        display: none;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }


    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
    }

    /* The Close Button */
    .close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    div.dataTables_filter label {
        padding-right: 70px;
    }
</style>
<h1>gsdsfsdffs</h1>
<!-- Start: Content-Wrapper -->
<section id="content_wrapper">

    <!-- Start: Topbar-Dropdown -->
    <div id="topbar-dropmenu">
        <div class="topbar-menu row">
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-inbox"></span>
                    <p class="metro-title">Messages</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-user"></span>
                    <p class="metro-title">Users</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-headphones"></span>
                    <p class="metro-title">Support</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon fa fa-gears"></span>
                    <p class="metro-title">Settings</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-facetime-video"></span>
                    <p class="metro-title">Videos</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-picture"></span>
                    <p class="metro-title">Pictures</p>
                </a>
            </div>
        </div>
    </div>
    <!-- End: Topbar-Dropdown -->

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4>CHoose csv format file </h4>
            <input type="file" name="fileinput" accept=".csv"> </input>
            <br><br>

            <center><button type="button" class="btn btn-primary">Done</button></center>
        </div>

    </div>

    <!-- Start: Topbar -->
    <header id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active">
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-link">
                    <a href="dashboard.html">Home</a>
                </li>
                <li class="crumb-trail">Customer List</li>
            </ol>
        </div>

        <div class="topbar-right">
            <a href="#" id="myBtn" class="btn btn-default" style="height:30px; padding:5px; border-radius:5px">Import Customer List</a>

            <a href="AddCustomer.html" class="btn btn-primary" style="height:30px; padding:5px">+ Add Customer</a>
        </div>
    </header>
    <!-- End: Topbar -->
    <header id="topbar">
        <div class="alert alert-info" style="margin-bottom: 0">
            <h4 style="margin-bottom: 0px; padding-bottom: 1px">
                <span class="glyphicon glyphicon-user" style="font-size: 16px; top: 3px"></span>
                <strong id="headinggg">Note much to see here yet!</strong>
            </h4><br>
            <p> This is where all of your customers who book appointments with you can be found. You can start now by <a href="#" style="color: white"><u>adding customer</u></a> or <a href="" style="color: white"><u> importing customer</u></a> from an existing system like Microsoft Outlook  or Gmail.</p>
        </div>
    </header>
    <!-- Begin: Content -->
    <section id="content" class="table-layout">
        <!-- Start: Header -->
        <!-- End: Header -->

        <div class="col-md-12" style="display: block;">
            <div class="panel panel-visible" id="spy2">
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                        <span class="glyphicon glyphicon-tasks"></span>Customer List
                    </div>
                </div>
                <div class="panel-body pn">



                    <div class="panel panel-visible" id="spy3">
                        <div class="panel-body pn">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable2" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending" style="width: 7%;">
                                                <center>Customers id</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Position: activate to sort column ascending" style="width: 25%;">
                                                <center> Customer details</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Office: activate to sort column ascending" style="width: 13%;">
                                                <center>Company Name</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Office: activate to sort column ascending" style="width: 25%;">
                                                <center> Address</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Office: activate to sort column ascending" style="width: 5%;">
                                                <center> SMS Remain</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Age: activate to sort column ascending" style="width: 10%;">
                                                <center> Status</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Age: activate to sort column ascending" style="width: 15%;">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="myCustomers">

                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><center>001</center></td>
                                            <td><center>claude <br> <a>claude@gmail.com</a><br>+44314566778</center></td>
                                            <td><center>XYZ</center></td>
                                            <td><center>123 rue du faubourg des postes <br>590000 Lille</center></td>
                                            <td><center>50</center></td>
                                            <td><center><button type="button" class="btn active btn-dark btn-sm" style="background-color: rgb(97,144,126);">Confirmed</button></center></td>
                                            <td><center><div class="btn-group"><button type="button" class="btn btn-default">View</button><button type="button" class="btn btn-danger">Delete</button></div></center></td>
                                        </tr>

                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><center>002</center></td>
                                            <td><center>Jean <br> <a>Jean@gmail.com</a><br>++33314566778</center></td>
                                            <td><center>XYZ</center></td>
                                            <td><center>123 rue du faubourg des postes <br>590000 Lille</center></td>
                                            <td><center>50</center></td>
                                            <td><center><button type="button" class="btn active btn-dark btn-sm" style="background-color: rgb(97,144,126);">Confirmed</button></center></td>
                                            <td><center><div class="btn-group"><button type="button" class="btn btn-default">View</button><button type="button" class="btn btn-danger">Delete</button></div></center></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End: Content -->
    <!-- Begin: Page Footer -->
    <footer id="content-footer" class="affix">
        <div class="row">
            <div class="col-md-6">
                <span class="footer-legal">© 2017 Plateforme RDV</span>
            </div>

        </div>
    </footer>
    <!-- End: Page Footer -->


</section>
<!-- end: Content-Wrapper -->


<style>
    /* demo page styles */
    .admin-form .panel.heading-border:before,
    .admin-form .panel .heading-border:before {
        transition: all 0.7s ease;
    }
</style>


                <script src="@Url.Content("~/vendor/jquery/jquery-1.11.1.min.js")"></script>
                <script src="@Url.Content("~/vendor/jquery/jquery_ui/jquery-ui.min.js")"></script>

