
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_CompanyAdminNavigationBar.cshtml";
}

<section id="content_wrapper">
    <!-- Start: Topbar-Dropdown -->
    <!-- End: Topbar-Dropdown -->
    <!-- Start: Topbar -->
    <header id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active">
                    <a href="dashboard.html">Reports </a>
                </li>
                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>

            </ol>
        </div>

    </header>
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <div class="panel">
        <div class="panel">

            <div class="panel-body">
                <h2>Report</h2>
                <h5>Evalute and refine your business with these instant reports. All data can be exported to Excel, Word or PDF for working with other<br>programs or printing.</h5><br>
                <div class="col-xs-9 col-lg-11"><h4>Business performance</h4></div>
                <i class="fa fa-line-chart col-xs-1" style="font-size:36px; color: #4a89dc;"></i>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Executive summary</b></a></h4>

                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            View a summary of appointments and sales grouped by staff and loation. Shows key perfoarmance metrics like rebooking rate.
                        </li>
                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Future value</b></a></h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>See the local value of future appointment grouped by employee, service and location. You can select the time period to view.
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b> Monthly summary </b></a>  </h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>View a summary of appointments and sales grouped by month.
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"> <a><b>Customer Spend </b></a> </h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>See the total value of your customers's appointments. Includes total spend, number of appointments and contact details.
                        </li>


                    </ul>
                </div>
                <div class="col-xs-9 col-lg-11"><h4>Financial reports</h4></div>
                <i class="fa fa-bar-chart col-xs-1" style="font-size:36px; color: #4a89dc;"></i>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Sales report </b></a></h4>

                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>A summary of the total sales value for you appointments, prpducts and dicount on a selected time period, includes tax totals.
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Daily transaction summary</b></a></h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>Shows you a total and a full idt of payments transactions and what payement type was used (cash, credit etc)
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Gift voucher activity</b></a></h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>See which gift vouchers your customers have been buying and redeeming
                        </li>


                    </ul>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b> Service Sales report </b></a>  </h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>A summary of the total sales value for your service sales grouped by category includes tax totals and category spits.
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"> <a><b>Invoice detail </b></a> </h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>View a detailed breakdown of your invoices
                        </li>
                    </ul>
                </div>
                <div class="col-xs-9 col-lg-11"><h4>Appointments</h4></div>
                <i class="fa fa-calendar col-xs-1" style="font-size:36px; color: #4a89dc;"></i>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b> Say sheet</b></a></h4>

                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>Run off a list of appointments for today, or longer time period as required. Can be filtered by staff or location.
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Cancelled appointments</b></a></h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>Run this reports for a selected time period to view a lidt of all the cancedled includes date cancelled and reason.
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>No-show appointments</b></a></h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>View a list of appointment where the customer did not show. inludes a court of number of times the customer has failed to show.
                        </li>


                    </ul>

                </div>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b> Appontment schedule </b></a>  </h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>A full list of all of your appointments for a selected time period. Great for a backup or to import into other systems.
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"> <a><b>Incomplete appointments </b></a> </h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>View appointments that have not been marked as completeed. Great for finding missing appointments to tick at the end of the day
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"> <a><b>Pencilled-in appointments </b></a> </h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>Run this report to view appoints still in pencilled-in status


                    </ul>
                </div>
                <div class="col-xs-9 col-lg-11"><h4>Customers</h4></div>
                <i class="fa fa-group col-xs-1" style="font-size:36px; color: #4a89dc;"></i>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Executive summary</b></a></h4>

                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>Find which of your customers haven't had a booking since a selected date. A gret way to follow up o who need an appointments.
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Duplicate customer list</b></a></h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>Find customer recors that may be a double up. You can then use the merge feature under the customers tab to tidy your database.
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Deleted customer list</b></a></h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>Find customer recors that you have deleted. You can restore any deleted customers.
                        </li>


                    </ul>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b> Customer notes </b></a>  </h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>The reports will show you all the notes that you have entered against a customer and their appointments.
                        </li>


                    </ul>
                    <h4 class="text-muted pl5 mt20 mb20"> <a><b>Customer gift vouchers </b></a></h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>A list of customers with their issued gift vouchers and details of the redemption made.
                        </li>


                    </ul>
                </div>

                <div class="col-xs-9 col-lg-11"><h4>Employees</h4></div>
                <i class="fa fa-user col-xs-1" style="font-size:36px; color: #4a89dc;"></i>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b>Employees timesheet</b></a></h4>

                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>View the hours worked by your employees and the percentage of time spend on appointments.
                        </li>


                    </ul>

                </div>
                <div class="col-xs-6 col-lg-6">
                    <h4 class="text-muted pl5 mt20 mb20"><a><b> Employees appointments summary </b></a></h4>
                    <ul class="fs15 list-divide-items mb30">
                        <li>
                            <a class="link-unstyled" href="#" title="">
                            </a>Show you a summary of appointment and invoice value by service and employees members.
                        </li>


                    </ul>

                </div>
            </div>

        </div>
    </div>
    <!-- End: Content -->
    <!-- Begin: Page Footer -->
    <footer id="content-footer">
        <div class="row">
            <div class="col-md-6">
                <span class="footer-legal">© 2017 PlateformeRDV</span>
            </div>
            <div class="col-md-6 text-right">
                <span class="footer-meta"></span>
                <a href="#content" class="footer-return-top">
                    <span class="fa fa-arrow-up"></span>
                </a>
            </div>
        </div>
    </footer>
    <!-- End: Page Footer -->
</section>
<!-- End: Content-Wrapper -->
