@model IEnumerable<Shad_BookingApplication.Models.AspNetGiftVoucher> 
@{
    ViewBag.Title = "VoucherList";
    Layout = "~/Views/Shared/_CompanyAdminNavigationBar.cshtml";
}
<!-- Start: Content-Wrapper -->
<section id="content_wrapper">

    <!-- Start: Topbar-Dropdown -->
    <div id="topbar-dropmenu">
        <div class="topbar-menu row">
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-inbox"></span>
                    <p class="metro-title">Messages</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-user"></span>
                    <p class="metro-title">Users</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-headphones"></span>
                    <p class="metro-title">Support</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon fa fa-gears"></span>
                    <p class="metro-title">Settings</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-facetime-video"></span>
                    <p class="metro-title">Videos</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-picture"></span>
                    <p class="metro-title">Pictures</p>
                </a>
            </div>
        </div>
    </div>
    <!-- End: Topbar-Dropdown -->

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4>CHoose csv format file </h4>
            <input type="file" name="fileinput" accept=".csv"> </input>
            <br><br>

            <center><button type="button" class="btn btn-primary">Done</button></center>
        </div>

    </div>

    <!-- Start: Topbar -->
    <header id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active">
                    <h2>Vouchers List</h2>
                </li>
            </ol>
        </div>

        <div class="topbar-right">
            <a href="addVoucher.html" class="btn btn-success" style="height:30px; padding:5px">+ Add Voucher</a>
        </div>
    </header>
    <!-- End: Topbar -->
    <header id="topbar">
        <div class="alert alert-info" style="margin-bottom: 0">
            <h4 style="margin-bottom: 0px; padding-bottom: 1px">
                <span class="fa fa-ticket" style="font-size: 16px; top: 3px"></span>
                <strong id="headinggg">Voucher List</strong>
            </h4>
            <p>Below is the list of vouchers. If you want to add new voucher, click on the "Add voucher" Tab. To edit or delete a certain voucher, click on corresponding icons on the row. You can also export the list of vouchers or delete multiple selected vouchers by using the popup menu at the bottom of the table.</p>
        </div>
    </header>
    <!-- Begin: Content -->
    <section id="content" class="table-layout">
        <!-- Start: Header -->
        <!-- End: Header -->

        <div class="col-md-12" style="display: block;">
            <div class="panel panel-visible" id="spy2">
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                        <span class="glyphicon glyphicon-tasks"></span>Voucher List
                    </div>
                </div>
                <div class="panel-body pn">



                    <div class="panel panel-visible" id="spy3">
                        <div class="panel-body pn">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable2" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending" style="width: 20%;">
                                                <center>Voucher Code</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Position: activate to sort column ascending" style="width: 15%;">
                                                <center> Discount</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Office: activate to sort column ascending" style="width: 25%;">
                                                <center> Type</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Office: activate to sort column ascending" style="width: 15%;">
                                                <center> Valid</center>
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
                                                aria-label="Age: activate to sort column ascending" style="width: 25%;">
                                                <center> </center>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="myCustomers">
                                        @foreach( var item in Model)
                                        { 
                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><center><span>@item.Name</span></center></td>
                                            <td><center><span>@item.Discount</span></center></td>
                                            <td><center><span>@item.Type</span></center></td>
                                            <td><center><span>@item.AspNetExpire.Name</span></center></td>
                                            <td><center><div class="btn-group"><button type="button" class="btn btn-default">View</button><button type="button" class="btn btn-primary" >Edit</button><button type="button" class="btn btn-danger">Delete</button></div></center></td>
                                        </tr>

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End: Content -->
    <!-- Begin: Page Footer -->
    <footer id="content-footer" class="affix">
        <div class="row">
            <div class="col-md-6">
                <span class="footer-legal">© 2017 Plateforme RDV</span>
            </div>

        </div>
    </footer>
    <!-- End: Page Footer -->


</section>
<!-- end: Content-Wrapper -->